.page-title {
  padding: 0px 10px 10px;
}
.misc-content {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.brand-section {
  margin-bottom: 50px;
  img {
    margin: unset !important;
  }
  ul {
    margin: 10px;
  }
  ul.dashed {
    list-style-type: none;
    margin-bottom: 50px;
  }
  ul.dashed > li {
    text-indent: -5px;
  }
  ul.dashed > li:before {
    content: "-";
    margin-right: 4px;
  }
}